.player
{
	font-family: MatchTV-Bold;
	background: url('../stuff/1280_720_new/player.png'); 
  width: 340px; 
  height: 100px; 
	text-align: center;
  font-size: 70px;
	line-height: 120px; 
}

.player1
{ 
	position: fixed;
  left: 250px;
}

.player2
{
	position: fixed;
	left:690px;
}

.scores 
{ 
  font-family: MatchTV-Bold;
	position: fixed;
  width: 150px; 
  height: 100px; 
  text-align: center;
  font-size: 60px;
	color: #FFFFFF;
  line-height: 120px; 
}

.scores1
{
  background: url('../stuff/1280_720_new/score1.png'); 
	left: 0px;
}

.scores2
{
  background: url('../stuff/1280_720_new/score2.png'); 
	left: 1130px;
}

.logo 
{ 
	background: url('../stuff/1280_720_new/logo.png');
  width: 100px; 
  height: 100px;
	position: fixed;
	left: 590px;
}

.team_space
{
	background: url('../stuff/1280_720_new/team_logo.png');
	width: 100px; 
  height: 100px;
	position: fixed;
}

.team_space1
{
	left: 150px;
}

.team_space2
{
	left: 1030px;
}

@font-face{
font-family: "MatchTV-Bold"; 
src: url("fonts/MatchTV-Bold.eot"); 
src: url("fonts/MatchTV-Bold.eot?#iefix") format("embedded-opentype"),url("fonts/MatchTV-Bold.woff") format("woff"), url("fonts/MatchTV-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}


@keyframes shadow1 {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
    }
}
